<template>
  <ion-page>
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-back-button defaultHref="/home" mode="md"></ion-back-button>
        </ion-buttons>
        <ion-title>Add Batch</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <div class="ion-padding h-full flex flex-col">
        <ion-textarea class="flex-grow" :auto-grow="true" rows="24" inputmode="text" :placeholder="'Separate checklist with line breaks ...\n\n1. Lorem\n2. Ipsum\n3. Dolor\n4. ...'" v-model="data"></ion-textarea>
      </div>

      <ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button @click="saveChecklist">
          <ion-icon :icon="save"></ion-icon>
        </ion-fab-button>
      </ion-fab>
    </ion-content>
  </ion-page>
</template>

<script lang="ts">
import { defineComponent } from 'vue';
import { useRouter } from 'vue-router';

import {
  IonContent,
  IonHeader,
  IonPage,
  IonTitle,
  IonToolbar,
  IonFab,
  IonFabButton,
  IonIcon,
  IonButtons,
  IonBackButton,
  IonTextarea,
  loadingController
} from '@ionic/vue';

import { save } from 'ionicons/icons';
import { Storage } from '@capacitor/storage';
import { v4 as uuid } from 'uuid';
import { uniqBy } from 'lodash';

type Checklist = {
  id: string;
  checklist: string;
  checked: boolean;
  lastUpdated: number;
}

export default defineComponent({
  name: 'AddBatch',
  components: {
    IonPage,
    IonHeader,
    IonContent,
    IonTitle,
    IonToolbar,
    IonFab,
    IonFabButton,
    IonIcon,
    IonButtons,
    IonBackButton,
    IonTextarea
  },
  setup() {
    return {
      router: useRouter()
    };
  },
  data() {
    return {
      data: '',
      save
    };
  },
  methods: {
    async saveChecklist() {
      const loader = await loadingController.create({
        spinner: 'dots',
        message: 'Saving data ...'
      });

      await loader.present();
      const source = await this.getData();

      const checklists: Checklist[] = uniqBy(
        this.data.split('\n')
          .map(checklist => checklist.trim())
          .filter(checklist => checklist)
          .map(checklist => ({
            id: uuid(),
            checklist,
            checked: false,
            lastUpdated: Date.now()
          })),
        (checklist: Checklist) => checklist.checklist.toLowerCase()
      );

      await this.saveData([...checklists, ...source]);
      this.router.back();
      loader.dismiss();
    },
    async getData() {
      try {
        let data: Checklist[] = [];
        const value = await Storage.get({ key: 'data' });

        if (value.value) {
          data = JSON.parse(value.value);
        }

        return data;
      } catch (error) {
        return [];
      }
    },
    saveData(data: Checklist[]) {
      return Storage.set({
        key: 'data',
        value: JSON.stringify(data)
      });
    }
  },
})
</script>

<style scoped>
.h-full {
  height: 100%;
}

.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.flex-grow {
  flex-grow: 1;
}
</style>