<template>
  <ion-page>
    <ion-header>
      <ion-toolbar>
        <ion-title>Checklist App</ion-title>
      </ion-toolbar>

      <ion-toolbar>
        <ion-segment :value="segment" :swipe-gesture="true" @ionChange="onSegmentChanged($event)">
          <ion-segment-button value="checklist">
            <ion-label>Checklist</ion-label>
          </ion-segment-button>
          <ion-segment-button value="checked">
            <ion-label>Checked</ion-label>
          </ion-segment-button>
        </ion-segment>
      </ion-toolbar>
    </ion-header>

    <ion-content>
      <ion-list>
        <ion-list-header>
          <ion-label>{{ segment === 'checklist' ? 'Checklist' : 'Checked' }}</ion-label>
          <ion-button v-if="segment === 'checklist'" @click="randomizeData">
            <ion-icon slot="icon-only" :icon="sync"></ion-icon>
          </ion-button>
        </ion-list-header>

        <ion-item v-if="loading" lines="none" class="mt-16">
          <ion-label class="text-center" color="medium">Loading ...</ion-label>
        </ion-item>

        <ion-item v-if="!loading && !filteredData.length" lines="none" class="mt-16">
          <ion-label class="text-center" color="medium">- No Data -</ion-label>
        </ion-item>

        <template v-if="!loading && filteredData.length">
          <ion-item v-for="checklist in filteredData" :key="checklist.id">
            <ion-checkbox slot="start" :checked="checklist.checked" @ionChange="onCheckboxChanged(checklist.id)"></ion-checkbox>
            <ion-label :class="{ 'line-through': segment === 'checked' }">{{ checklist.checklist }}</ion-label>
            <ion-button fill="clear" slot="end" color="medium" @click="copyToClipboard(checklist.checklist)">
              <ion-icon slot="icon-only" :icon="copy"></ion-icon>
            </ion-button>
            <ion-button fill="clear" slot="end" color="danger" @click="deleteChecklist(checklist.id)">
              <ion-icon slot="icon-only" :icon="trash"></ion-icon>
            </ion-button>
          </ion-item>
        </template>
      </ion-list>

      <ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button @click="addBatch">
          <ion-icon :icon="add"></ion-icon>
        </ion-fab-button>
      </ion-fab>
    </ion-content>

    <ion-footer>
      <ion-toolbar>
        <ion-searchbar
          class="py-0"
          placeholder="Search here ..."
          enterkeyhint="search"
          inputmode="search"
          autocomplete="on"
          autocorrect="off"
          show-cancel-button="never"
          show-clear-button="always"
          :animated="true"
          :clear-icon="closeCircle"
          v-model="keyword">
        </ion-searchbar>
      </ion-toolbar>
    </ion-footer>
  </ion-page>
</template>

<script lang="ts">
import { defineComponent } from 'vue';
import { useRouter } from 'vue-router';

import {
  IonContent,
  IonHeader,
  IonPage,
  IonToolbar,
  IonTitle,
  IonSegment,
  IonSegmentButton,
  IonSearchbar,
  IonList,
  IonListHeader,
  IonLabel,
  IonButton,
  IonIcon,
  IonItem,
  IonCheckbox,
  IonFab,
  IonFabButton,
  IonFooter,
  toastController
} from '@ionic/vue';

import { add, closeCircle, sync, trash, copy } from 'ionicons/icons';
import { Clipboard } from '@capacitor/clipboard';
import { Storage } from '@capacitor/storage';

type Checklist = {
  id: string;
  checklist: string;
  checked: boolean;
  lastUpdated: number;
}

export default defineComponent({
  name: 'Home',
  components: {
    IonContent,
    IonHeader,
    IonPage,
    IonToolbar,
    IonTitle,
    IonSegment,
    IonSegmentButton,
    IonSearchbar,
    IonList,
    IonListHeader,
    IonLabel,
    IonButton,
    IonIcon,
    IonItem,
    IonCheckbox,
    IonFab,
    IonFabButton,
    IonFooter
  },
  setup() {
    return {
      router: useRouter()
    };
  },
  data() {
    const source: Checklist[] = [];

    return {
      keyword: '',
      segment: 'checklist',
      loading: true,
      source,
      add,
      closeCircle,
      sync,
      trash,
      copy
    }
  },
  methods: {
    onSegmentChanged(event: CustomEvent) {
      this.segment = event.detail.value;
    },
    randomizeData() {
      this.source = this.source.sort(() => Math.random() - 0.5);
      return this.saveData(this.source);
    },
    addBatch() {
      return this.router.push('/add-batch');
    },
    onCheckboxChanged(id: string) {
      const index = this.source.findIndex(checklist => checklist.id === id);

      if (index >= 0) {
        this.source[index].checked = !this.source[index].checked;
        this.source[index].lastUpdated = Date.now();
        this.saveData(this.source);
      }
    },
    copyToClipboard(text: string) {
      return Clipboard.write({ string: text })
        .then(async () => {
          const toast = await toastController.create({
            position: 'bottom',
            duration: 1000,
            color: 'dark',
            message: 'Text copied to clipboard!'
          });

          toast.present();
        });
    },
    async deleteChecklist(id: string) {
      const index = this.source.findIndex(checklist => checklist.id === id);

      if (index >= 0) {
        let canceled = false;
        const checklist = this.source[index];

        this.source = [
          ...this.source.slice(0, index),
          ...this.source.slice(index + 1)
        ];

        const toast = await toastController.create({
          position: 'bottom',
          duration: 3000,
          color: 'dark',
          message: 'Checklist deleted',
          buttons: [
            {
              text: 'Undo',
              side: 'end',
              handler: () => {
                canceled = true;

                this.source = [
                  ...this.source.slice(0, index),
                  checklist,
                  ...this.source.slice(index)
                ]
              }
            }
          ]
        });

        toast.onDidDismiss().then(() => {
          if (!canceled) {
            this.saveData(this.source);
          }
        });
        toast.present();
      }
    },
    saveData(data: Checklist[]) {
      return Storage.set({
        key: 'data',
        value: JSON.stringify(data)
      });
    }
  },
  computed: {
    filteredData: function (): Checklist[] {
      return this.source
        .filter(({ checked }) => this.segment === 'checklist' ? !checked : checked)
        .filter(
          checklist =>
            checklist.checklist.toLowerCase().includes(this.keyword.toLowerCase())
        )
        .sort(
          (a, b) =>
            this.segment === 'checked'
              ? a.lastUpdated !== b.lastUpdated
                ? a.lastUpdated < b.lastUpdated ? 1 : -1
                : 0
              : 0
        );
    }
  },
  ionViewWillEnter() {
    Storage.get({ key: 'data' })
      .then(value => {
        if (value.value) {
          this.source = JSON.parse(value.value);
          this.randomizeData();
        }
      })
      .catch(() => this.source = [])
      .finally(() => this.loading = false);
  }
});
</script>

<style scoped>
  .mt-16 {
    margin-top: 4rem;
  }

  .py-0 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .text-center {
    text-align: center;
  }

  .line-through {
    text-decoration: line-through;
  }
</style>